BasedOnStyle: LLVM
Language: Cpp

# Отступы
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Скобки
BreakBeforeBraces: Allman

# Длина строки
ColumnLimit: 100

# Выравнивания
AlignAfterOpenBracket: Align
AlignOperands: true
AlignTrailingComments: true

# Переносы
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Пробелы
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
SpacesInContainerLiterals: false

# Указатели
PointerAlignment: Left

# include
SortIncludes: true

# namespace
NamespaceIndentation: All

# Комментарии
ReflowComments: true

